.adminTab{width: 100%; height: auto; margin: 30px 0 50px 0; text-align: center;}
.adminTab button{width: 15%; padding: 10px 0; _margin: 5px; border: 1px solid #644600; color: #644600;}
.adminTab button:hover,
.adminTab button.active{background: #644600; color: #fff;}

.adminPanel{width: 80%; height: auto; margin: auto;}
.adminPanel .adminTable li{border-bottom: 1px dotted #644600;}
.adminPanel .adminTable li:last-child{border-bottom: 1px solid #644600;}
.adminPanel .adminTable li.adminTitle{width: 100%; height: auto; background: #644600; margin-top: 20px;}
.adminPanel .adminTable li span{color: #fff; text-align: center; padding: 7px 0; float: left;}

.adminPanel .adminTable li span.msgCheck{width: 5%;}
.adminPanel .adminTable li span.msgNum{width: 8%;}
.adminPanel .adminTable li span.msgTit{width: 42%; cursor: pointer;}
.adminPanel .adminTable li span.msgName{width: 10%;}
.adminPanel .adminTable li span.msgEmail{width:15%;}
.adminPanel .adminTable li span.msgReg{width: 20%;}

.adminPanel li.adminContents span{color: #333;}
.adminPanel li.adminContents span.msgTit{text-align: left;}
.adminPanel .adminTable li span.msgCheck input{min-height: 1.5;}

.adminPanel .txtBox{display: none;}
.adminPanel .txtBox.active{display: block; text-align: left; background: #eee; padding-bottom: 20px;}
.adminPanel .msgCon{width: 100%; padding: 30px 50px 15px; text-align: left; font-size: 12  px;color: #333; font-weight: 400;display: block;}

.bottomBox{display: flex; justify-content: space-between; padding-top: 20px;}
.bottomBox button{width: 10%; border: 1px solid #644600; color: #644600;}
.bottomBox button:hover{background: #644600; color: #fff;}
.bottomBox .paging{width: 50%; display: flex; justify-content: flex-end;}
.bottomBox .paging span{color: #644600; display: flex; float: left; width: 30px; height: 30px; border: 1px solid #644600; justify-content: center; align-items: center; margin-left: 5px; transition: all 0.4s; cursor: pointer;}
.bottomBox .paging span:hover,
.bottomBox .paging span.active{color: #fff; background: #644600;}
 