.deny{text-align: center;padding: 30px;}
.deny p{font-size: 20px; font-weight: 500; margin-bottom: 20px;}
.deny a{padding: 5px 10px; background: #644600; color: #fff; font-size: 16px;}

.adminTab{width: 100%; height: auto; margin: 30px 0 50px 0; text-align: center;}
.adminTab button{width: 15%; padding: 10px 0; _margin: 5px; border: 1px solid #644600; color: #644600;}
.adminTab button:hover,
.adminTab button.active{background: #644600; color: #fff;}

.adminPanel{width: 80%; height: auto; margin: auto;}
.adminPanel .adminTable li{border-bottom: 1px dotted #644600;}
.adminPanel .adminTable li.adminTitle{width: 100%; height: auto; background: #644600; margin-top: 20px;}
.adminPanel .adminTable li span{color: #fff; text-align: center; padding: 7px 0; float: left;}

/* admin message style */
.adminPanel .adminTable li span.msgCheck{width: 5%;}
.adminPanel .adminTable li span.msgNum{width: 8%;}
.adminPanel .adminTable li span.msgTit{width: 42%; cursor: pointer; text-align: center;}
.adminPanel .adminTable li span.msgName{width: 10%;}
.adminPanel .adminTable li span.msgEmail{width:15%;}
.adminPanel .adminTable li span.msgReg{width: 20%;}

.adminPanel li.adminContents span{color: #333;}
.adminPanel .adminTable li span.msgCheck input{min-height: 1.5;}

.adminPanel .txtBox{display: none;}
.adminPanel .txtBox.active{display: block; text-align: left; background: #eee; padding-bottom: 20px;}
.adminPanel .msgCon{width: 100%; padding: 30px 50px 15px; text-align: left; font-size: 12  px;color: #333; font-weight: 400;display: block;}

.bottomBox{_width: 80%; margin: auto;display: flex; justify-content: space-between; padding-top: 20px;}
.bottomBox button{width: 10%; border: 1px solid #644600; color: #644600;}
.bottomBox button:hover{background: #644600; color: #fff;}
.bottomBox .paging{width: 50%; display: flex; justify-content: flex-end;}
.bottomBox .paging span{color: #644600; display: flex; float: left; width: 30px; height: 30px; border: 1px solid #644600; justify-content: center; align-items: center; margin-left: 5px; transition: all 0.4s; cursor: pointer;}
.bottomBox .paging span:hover,
.bottomBox .paging span.active{color: #fff; background: #644600;}
  

/* admin member style */
.adminPanel .adminTable li span.memCheck{width: 10%;}
.adminPanel .adminTable li span.memId{width: 10%;}
.adminPanel .adminTable li span.memName{width: 10%;}
.adminPanel .adminTable li span.memEmail{width: 20%;}
.adminPanel .adminTable li span.memPo{width:20%;}
.adminPanel .adminTable li span.memLv{width: 20%;}
.adminPanel .adminTable li span.memUp{width: 10%;}

.memAdmin input{width: 50%; border: 1px solid #644600; outline: 0; text-align: center;}
.memBtns{width: 50%;}
.memBtns button{width: 20%; height: 30px;}
.memAdmin .bottomBox .paging{justify-content: center; width: 100%;}

/* admin qna style */
.adminPanel .adminTable li span.qnaCheck{width: 15%;}
.adminPanel .adminTable li span.qnaNum{width: 15%;}
.adminPanel .adminTable li span.qnaTit{width: 45%; cursor: pointer;}
.adminPanel .adminTable li span.qnaId{width: 10%;}
.adminPanel .adminTable li span.qnaReg{width:15%;}

.qnaDelBtn{border: 1px solid #644600; outline: 0; padding:0 5px; color: #644600;}
.qnaDelBtn:hover{background: #644600; color: #fff;}

.txtBox{display: none;}
.txtBox.active{display: block; text-align: left; background: #eee; padding-bottom: 20px;}
.qnaCon{width: 100%; padding: 20px 30px 20px 10%; _border-bottom: 1px solid #644600;  _border-top: 1px dotted #644600; _margin-bottom: 5px; text-align: left; font-size: 12  px;color: #333; font-weight: 400;display: block;}
.qnaAns{margin: 0 10% 10px ; width: 87%; background: #fff; text-align: left; font-size: 12px;color: #333; padding: 10px;display: flex; justify-content: space-between;}
.qnaAns em{font-style: normal;}
.qnaAns span{text-align: right;}
.qnaAns span .ansDelete{padding: 3px 10px; border: 1px solid #644600; outline: none; font-size: 12px; color: #644600; margin-bottom: 3px; display: block;}
.qnaAns span .ansDelete:hover{background: #644600; color: #fff;}
.qnaAns p{text-align: right;}

.ansWrite{margin:0 10% 10px; width: 87%; background: #fff; height: auto;padding: 5px; display: flex; justify-content: space-between; }
.ansWrite .ansWrForm{width: 100%; height: auto; display: flex; flex-direction: row; justify-content: space-between;}
.ansWrite .ansWrForm textarea{width: calc(90% - 5px); padding: 7px; height: 70px; border: 0px solid #644600; resize: none;}

.ansWrite .ansWriteBtns{width:10%; height: auto;display: flex; flex-direction: column; _margin: 5px;}
.ansWrite .ansWriteBtns button{width: 100%; height: 100%; border: 0px solid #644600; _background: #b2a89e; color: #644600; font-weight: 700; font-size: 12px; cursor: pointer; border: 1px solid #644600;}
.ansWrite .ansWriteBtns button:hover{background: #644600; color: #fff;}

.qnaAdmin .bottomBox .paging{width: 100%; justify-content: center;}