@media screen and (max-width:1400px){
  header{width: 100%;}
}

@media screen and (max-width:1200px){
  header .topMainLeft .logo{top:20%}
  header .topMainRight{height: 35vh;}
  header .topMainLeft{height: 35vh;}

  /* login, join style */
  .loginFormBox,.login .findInfo{width: 60%;}
  .joinBox{width: 80%;}

  .detailContents{width: 100%; margin: auto;}
  .imgNav a{width: 40px; height: 40px;}
  .offSub .offImgBox{height: 70px;}

  /* qna style */
  .qnaBoxes .qnaTable,.qnaWriteBox,.bottomBox{width: 90%;}
  .ansWrite .ansWriteBtns{width:15%;}
  .ansWrite .ansWriteBtns button{font-size: 12px;}
  
  /* admin style */
  .adminPanel{width: 90%;}
  .adminPanel .bottomBox{width: 100%;}
  .adminPanel .adminTable li span.msgCheck{width: 10%;}
  .adminPanel .adminTable li span.msgNum{width: 10%;}
  .adminPanel .adminTable li span.msgTit{width: 45%; cursor: pointer;}
  .adminPanel .adminTable li span.msgName{width: 10%;}
  .adminPanel .adminTable li span.msgEmail{display: none;}
  .adminPanel .adminTable li span.msgReg{width: 25%;}
}
 
@media screen and (max-width:900px){
  header .topMainLeft .logo h1{font-size: 45px;}
  header .topMainLeft .logo p{font-size: 12px;}
  header .topMainLeft .logo hr{display: none;}
  header .topMainRight{height: 30vh;}
  header .topMainLeft{height: 30vh;}
  header .gnb li{font-size: 14px;}

  .center{width: 90%;}
  .contents .title h2{font-size: 35px;}
  .contents .title .linkBox a{font-size: 12px;}
  
  .intro .introBox{padding-top: 35px;}

  .interior .mainTitle{padding-bottom: 30px;}
  .interior .interiorBox>div{height: 160px;}
  .interior .interiorTxt h4{font-size: 18px;}
  .interior .interiorTxt p{font-size: 12px;}

  .process .processBoxes{padding-top: 30px;}
  .process .processTxtLine{padding: 20px;}
  .process .processTxt p{line-height: 1.2;}
  .about .aboutTxt{font-size: 12px;}
  
  /* login, join style */
  .joinBox{width: 90%;}

  /* qna style */
  .qnaBoxes .qnaTable li span.qnaNum{width: 10%;}
  .qnaBoxes .qnaTable li span.qnaTit{width: 60%;}
  .qnaBoxes .qnaTable li span.qnaId{width: 15%;}
  .qnaBoxes .qnaTable li span.qnaReg{width: 15%;}

  .qnaWriteBox .qnaWrForm{width: 85%;}
  .qnaWriteBox .qnaWriteBtns{width: 14%;}

  /* admin style */
  .adminPanel .bottomBox button{font-size: 12px;}
  .adminPanel .adminTable li span.memCheck{width: 15%;}
  .adminPanel .adminTable li span.memId{width: 15%;}
  .adminPanel .adminTable li span.memName{width: 15%;}
  .adminPanel .adminTable li span.memEmail{display: none;}
  .adminPanel .adminTable li span.memPo{width:20%;}
  .adminPanel .adminTable li span.memLv{width: 20%;}
  .adminPanel .adminTable li span.memUp{width: 15%;}
}

@media screen and (max-width:750px){
  header .topMainLeft .logo h1{font-size: 45px;}
  header .topMainLeft .logo p{font-size: 12px;}
  header .topMainLeft .logo hr{display: none;}
  header .topMainRight{width: 100%; height: 20vh;}
  header .topMainLeft{display:none; height: 30vh;}
  header .gnb li{font-size: 14px;}
  header .topMainRight .logo{display: block; left: 50%; top:50%; transform: translate(-50%,-50%); text-align: center;}
  header .topMainRight .logo h1 a,header .topMainRight .logo p{color: #fff;}
  header .topMainRight .logo hr{display: none;}
  header .loginBox{width: 100%; height: 35px; float: none; justify-content:center}
  header .loginBox a{font-size: 12px;}
  header .gnb{width: 100%; height:auto;}
  header .gnb li{height: 40px;}
  header{display: flex; flex-direction: column;}
  header>div:nth-child(1){order:3;}
  header>div:nth-child(2){order:1;}
  header>div:nth-child(3){order:0;}
  header>div:nth-child(4){order:2;}

  .contents .title{float: none;}
  .contents .title .linkBox{display: none;}

  .intro .introBox{flex-wrap: wrap; justify-content: center;}
  .intro .introBox .introCon{width: 80%; margin: 0 auto 10px; height: 350px; overflow: hidden;}

  .interior .interiorBox{flex-wrap: wrap; padding: 5px; padding: 20px 0;}
  .interior .interiorBox>div{width: calc(50% - 5px);}
  .interior .interiorBox>div:nth-child(2){margin-bottom: 10px;}
  .interior .viewBtn{padding: 5px 30px; margin-top:10px}

  .process .processBoxes{flex-direction: column;}
  .process .processImgBox{width: 100%;}
  .process .processImgBox .processImg{width: 25%;}
  .process .processTxtBox{width: 100%;}
  .process .processTxt p{margin: 10px 0;}
  .about .aboutTxt{margin-top: 20px;}

  .contactBox{width: 100%;}

  /* login, join style */
  .loginFormBox,.login .findInfo{width: 80%;}
  .loginFormBox .inputBox label,.loginFormBox .inputBox input, .login .findInfo a,.formBtns button{font-size: 12px;}
  
  .joinBox .inputBox label{display: none;}
  .joinBox .inputBox input{width: 100%; font-size: 12px;}
  .joinBox .inputBox input.email1{width: 30%;}
  .joinBox .inputBox input.email2{width: 40%;}
  .joinBox .inputBox span{width: 5%}
  .joinBox .inputBox select{width: 25%}

  /* main interior page style */
  .inBox{width: calc(50% - 10px); padding-bottom: 50%;}
  .inBtns button{width: 49.5%;}

  .uploadBox .uploadForm p{width: 100%; margin-bottom: 5px; }
  .uploadBox .uploadForm .inputUnit{flex-wrap: wrap;}
  .uploadBox .uploadForm .inputUnit:nth-child(2){margin: 0;}
  .imgUploadBox{flex-wrap: wrap;}
  .imgUploadBox .imgUpload{width: calc(50% - 3px);}
  .imgUploadBox .imgUpload:nth-child(1),.imgUploadBox .imgUpload:nth-child(2){margin-bottom: 10px;}
  .imgUploadBox .imgUpload:nth-child(3){margin-left: 0;}

  .detailContents{width: 80%;}
  .leftBox{width: 100%;}
  .rightBox{width: calc(100% - 70px); margin: 30px 0 0 80px; padding-right: 13px;}
  .subMenu{width: 100%;}

  /* qna style */
  .qnaBoxes .qnaTable,.qnaWriteBox,.bottomBox{width: 95%;}
  .bottomBox .search{width: 100%;}
  .bottomBox .search .searchInput{width: 69%;}
  .bottomBox .search .qnaSearchBtn{width: calc(11% - 5px);}
  .bottomBox .paging{width: 100%; padding-top: 20px; justify-content: center;}
  .qnaBoxes .qnaTable li span{padding: 7px 0; font-size: 12px;}
  .adminPanel .adminTable li span,.adminPanel .bottomBox button, .memAdmin input, .qnaDelBtn{font-size: 12px;}
  
  .qnaWriteBox .qnaWrite{flex-direction: column;}
  .qnaWriteBox .qnaWrForm{width: 100%;}
  .qnaWriteBox .qnaWriteBtns{width: 100%; flex-direction: row; justify-content: space-between; margin-top: 10px; border-top: 1px dotted #644600; padding-top: 10px;}
  .qnaWriteBox .qnaWriteBtns button{width: 49.5%; padding: 7px 0;}
  .qnaWriteBox .qnaWriteBtns button:last-child{margin-top: 0;}

  .ansWrite .ansWrForm{flex-direction: column;}
  .ansWrite .ansWrForm textarea{width: 100%; margin-bottom: 5px;}
  .ansWrite .ansWriteBtns{width:100%;}
  .ansWrite .ansWriteBtns button{font-size: 12px;}

  /* admin style */
  .adminTab button{width: 20%;}
  .adminPanel .bottomBox button{width: 15%; height: 30px;}
  .adminPanel .bottomBox .paging{justify-content:flex-end; padding-top: 0;}
  .adminPanel .adminTable li span.msgCheck{width: 15%;}
  .adminPanel .adminTable li span.msgNum{display: none;}
  .adminPanel .adminTable li span.msgTit{width: 65%; cursor: pointer;}
  .adminPanel .adminTable li span.msgName{width: 20%;}
  .adminPanel .adminTable li span.msgReg{display: none;}

  .adminPanel .bottomBox .memBtns button{width: 40%;}

  .adminPanel .adminTable li span.qnaCheck{width: 20%;}
  .adminPanel .adminTable li span.qnaNum{display: none;}
  .adminPanel .adminTable li span.qnaTit{width: 60%;}
  .adminPanel .adminTable li span.qnaId{width: 20%;}
  .adminPanel .adminTable li span.qnaReg{display: none;}

  .adminPanel .bottomBox{padding-top: 10px;}
  .adminPanel .bottomBox button{height: 20px; width: 20%;}
  .adminPanel .bottomBox .paging span{width: 20px; height: 20px; font-size: 12px; margin-left:3px}
  .adminPanel .bottomBox button,.memAdmin input,.qnaDelBtn{font-size: 12px;}
  .memBtns{width: 60%;}
  .adminPanel .bottomBox .memBtns button{font-size: 12px; width: 48%;}
}

@media screen and (max-width:480px){
  header .logo h1{font-size: 38px; line-height: 1;}
  header .logo p{font-size: 12px;}
  header .gnb{background: #644600; z-index: 99;}
  header .gnb ul{top: 100%; position: absolute; margin: auto; width: 100%; display: none; }
  header .gnb li{width:100%; flex-direction: row;background: #b2a89e; padding: 25px 0; border-bottom: 1px solid #644600;}
  header .gnb li:last-child{border-bottom: 0;}
  header .mobileMenu{display: flex; height: 40px; position: relative; align-items: center;}
  header .mobileMenu i.fa{height:auto; display: block; right: 20px; position: absolute;}

  .contents{padding: 40px 0;}
  .interior .interiorImg{border: 5px;}

  .contactBox .NameMail{flex-wrap: wrap;}
  .contactBox .NameMail>input:nth-child(2){margin-top: 10px;}
  .contactBox input{width: 100%;}

  /* login style */
  .loginFormBox,.login .findInfo{width: 90%;}
  .joinBox .inputBox label, .loginFormBox .inputBox label{display:none;}
  .joinBox .inputBox input,.loginFormBox .inputBox input{width:100%;}
  .formBtns{margin-top: 15px; padding-top: 15px;}

  .joinBox{width: 100%;}
  .joinBox .inputBox input,.joinBox .inputBox select{font-size: 12px;}
  .joinBox .inputBox input.email1{width: 32%;}
  .joinBox .inputBox input.email2{width: 42%;}
  .joinBox .inputBox span{width: 5%; font-size: 11px;}
  .joinBox .inputBox select{width: 21%;}

  .detailContents{width: 100%;}
  .imgNav a{width: 30px; height: 30px; margin-left: 10px;}

  /* qna style */
  .qnaBoxes .qnaTable li span.qnaNum{width: 20%;}
  .qnaBoxes .qnaTable li span.qnaTit{width: 80%;}
  .qnaBoxes .qnaTable li span.qnaId{display: none;}
  .qnaBoxes .qnaTable li span.qnaReg{display: none;}

  .qnaWriteBox{padding-top: 60px;}
  .ansWrite,.qnaBoxes .qnaAns,.ansWrite{margin: 20px 20px 0;}
  .qnaBoxes .qnaCon{padding: 20px;}
  .bottomBox .search .searchSelect,.bottomBox .search .searchInput{font-size: 12px;}
  .bottomBox .paging span{font-size: 12px; width: 20px; height: 20px;}

  /* admin style */
  .adminTab{margin: 20px 0 30px;}
  .adminTab button{width: 25%; padding: 7px 0;}
  .adminPanel .adminTable li{font-size: 12px;}
  .adminPanel .bottomBox button{width: 30%;}

  .adminPanel .adminTable li span.qnaCheck{width: 25%;}
  .adminPanel .adminTable li span.qnaTit{width: 75%;}
  .adminPanel .adminTable li span.qnaId{display: none;}

  .memAdmin input{width: 80%;}
  .adminPanel .adminTable li span.memCheck{width: 20%;}
  .adminPanel .adminTable li span.memId{width: 20%;}
  .adminPanel .adminTable li span.memName{display: none;}
  .adminPanel .adminTable li span.memPo{width:20%;}
  .adminPanel .adminTable li span.memLv{width: 20%;}
  .adminPanel .adminTable li span.memUp{width: 20%;}
  .adminPanel .bottomBox button, .memAdmin input, .qnaDelBtn{font-size: 11px;}
  .qnaDelBtn{padding: 0 3px;}
}
